@use 'variables';

.site-footer {
  position: relative;
  background:variables.$color-darkblue;
  color:#c9d1d9;
  padding:2rem 0;
  font-size: 14px;

  a { color:#e5e7eb; opacity:.9; }

  .input-group {
    padding: 10px;
    background: #fff;
  }
  .input-group-field {
    border: 0;
    box-shadow: unset;
  }
  .button {
    background:variables.$color-darkblue;
  }
  .text-right {
    img {
      float: right;
    }
  }
  h5 {
    color: #fff;
  }
  .statement {
    position: absolute;
    width: 300px;
    height: 90px;
    right: 20px;
    bottom: 30px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 17px;
    opacity: 0.1;
    p {
      font-size: 12px;
    }
  }
}
