@use 'variables';

.minutes {
  .steps {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
  }

  .step-card {
    text-align:center;
    .caption { margin-top:.6rem; font-weight:700; color:variables.$color-charcoal-green; }
  }
}

@media (max-width: 960px){
  .minutes .steps { grid-template-columns: 1fr; }
}
