@use 'variables';

.reviews {
  .cards {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
  }

  .card { padding:1rem; }
}

@media (max-width: 960px){
  .reviews .cards { grid-template-columns: 1fr; }
}
