@use 'variables';

.topbar {
  background: variables.$color-yellow;
  color: #111;
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 0.33px;
  text-align: center;
  text-transform: uppercase;
}


.top-bar {
  background-color: #ffffff;
  ul {
    background-color: #ffffff;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu-text {
    img {
      width: 40px;
    } 
  }
}

